---
import Accordion from "./Accordion.astro";
import Project from "./Project.astro";
import phpSvg from "../../assets/php.png";
import laravelSvg from "../../assets/laravel.svg?url";
import phpUnitSvg from "../../assets/phpUnit.svg?url";
import reactSvg from "../../assets/react.svg?url";
import astroSvg from "../../assets/astroIcon.svg?url";
import typescriptSvg from "../../assets/typescript.svg?url";
import javascriptSvg from "../../assets/javascript.svg?url";
import About from "./About.astro";
import ExperienceSection from "./ExperienceSection.astro";
interface Props {
    projects: any[];
}
const { projects } = Astro.props;
---

<>
    <section id="home" class="pt-16">
        <!-- Home section content can be added here -->
    </section>
    <section id="stack" class="pt-16">
        <h2 class="text-4xl font-bold text-center">Stack</h2>
    <div
        class="flex flex-col md:flex-row justify-center p-8 gap-4 w-full mx-auto"
    >
        <Accordion
            title="PHP"
            items={["Laravel", "PHPunit"]}
            icons={{
                PHP: phpSvg,
                Laravel: laravelSvg,
                PHPunit: phpUnitSvg,
            }}
        />
        <Accordion
            title="JavaScript"
            items={["React", "Astro", "Typescript"]}
            icons={{
                JavaScript: javascriptSvg,
                React: reactSvg,
                Astro: astroSvg,
                Typescript: typescriptSvg,
            }}
        />
    </div>
    </section>
    <ExperienceSection />
    <section id="projects" class="pt-16">
        <h2 class="text-4xl font-bold text-center">Projects</h2>
    <div class="max-w-7xl mx-auto px-4 py-8">
        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-8  place-items-center justify-items-center "
        >
            {
                projects.slice(0, 3).map((project) => (
                    <>
                        <Project
                            title={project.title}
                            img={project.img}
                            description={project.description}
                            languages={project.languages}
                            languageIcons={project.languageIcons}
                            links={project.links}
                        />
                    </>
                ))
            }
        </div>

      
        <div class="mt-8" id="about">
            <About />
        </div>
    </div>
    </section>
</>
