---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/Hero/HeroSection.astro";
import Accordion from "../components/Body/Accordion.astro";
import phpSvg from "../assets/php.svg?url";
import laravelSvg from "../assets/laravel.svg?url";
import phpUnitSvg from "../assets/phpUnit.svg?url";
import reactSvg from "../assets/react.svg?url";
import astroSvg from "../assets/astroIcon.svg?url";
import typescriptSvg from "../assets/typescript.svg?url";
import javascriptSvg from "../assets/javascript.svg?url";
import Project from "../components/Body/Project.astro";

const projects = [
    {
        title: "SWAIPY",
        img: "https://placehold.co/600x400",
        description: "A set of AI tools(SaaS) to convert multimedia content (SCORM, video, audio) into accessible formats for people with different disabilities.",
        languages: ["PHP", "Laravel", "Astro","React", "TypeScript"],
        links: ["https://github.com/username/project1"],
    },
    {
        title: "XUI2",
        img: "https://placehold.co/600x400",
        description: "XUI2 is a design library for React.",
        languages: [ "React", "TypeScript", "NPM", "Tailwind","Storybook"],
        links: ["https://github.com/username/project2"],
    },
];
---

<Layout>
	<HeroSection />
	<h2 class="text-4xl font-bold text-center">Stack</h2>
	<div class="flex justify-center p-8 gap-4 w-6/12 mx-auto">
		<Accordion
			title="PHP"
			items={["Laravel", "PHPunit"]}
			icons={{
				PHP: phpSvg,
				Laravel: laravelSvg,
				PHPunit: phpUnitSvg,
			}}
		/>
		<Accordion
			title="JavaScript"
			items={["React", "Astro", "Typescript"]}
			icons={{
				JavaScript: javascriptSvg,
				React: reactSvg,
				Astro: astroSvg,
				Typescript: typescriptSvg,
			}}
		/>
	</div>
	<h2 class="text-4xl font-bold text-center">Projects</h2>
	<div class="flex justify-center p-8 gap-4 w-6/12 mx-auto">
		{projects.map((project) => (
			<Project
				key={project.title}
				title={project.title}
				img={project.img}
				description={project.description}
				languages={project.languages}
				links={project.links}
			/>
		))}
	</div>
</Layout>
